<nav class="navbar">
  <div class="site-title">
    <a href="/" class="logo-header"><img src="https://images.ctfassets.net/wn7ipiv9ue5v/1MDhHWmQXaIJBYUKT6x25s/84baabd4ebb7c5e0ada8d158abb8bbfd/dc-logo-2022.png?w=859&h=&fm=avif&q=75" width=100px alt=""></a>
    <ul>
      <li data-aos="fade-right"><a href="/">HOME</a></li>
      <li data-aos="fade-right"><a href="/games">GAMES</a></li>
      <li data-aos="fade-right"><a href="/news">NEWS</a></li>
      <li data-aos="fade-right"><a href="/blogs/create">NEW BLOG</a></li>
    </ul>
  </div>
</nav>