<html lang="en"></html>
<%- include("./partials/head.ejs") %>

<body class="games-section">
  <%- include("./partials/nav.ejs") %>

  <h1 class="text-games">Games</h1>
    <div class="news-container">
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/7HXkxQjVqpLAlZ9m596MAT/c4eb71df8cd2f9ec810a0625ab013c6e/Karma_Calls.png?w=1920&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">September 25, 2024</p>
                <h2 class="text-games">Karma Calls</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/8lRsjCsMlErxk3FfQRIfr/793be0931ff88195a0c158f9f5c11abf/splash_moble_strategists.jpg?w=1560&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">September 19, 2024</p>
                <h2 class="text-games">The Strategists</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/7a3AApxx75Kab2USNtBhV4/e6e1bebe2a06cb9d4f810309923a3792/splash_mobile_opt.jpg?w=1560&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">September 3, 2024</p>
                <h2 class="text-games">Upcoming events: September 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1dWc1ILkbvDY2nWeDcMyEs/c18b0ecec3f2d8f94b7bbd60c06518ac/Norn_event.jpg?w=1920&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 22, 2024</p>
                <h2 class="text-games">ARC OF REDEMPTION</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/64Lw0JPp620MDZolGKmr5J/83b69a80ac07a3e48cd0dd34ffba62e4/splash_mobile_1.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">July 31, 2024</p>
                <h2 class="text-games">Upcoming events: August 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1pKN8BQtOiGeUJ7UnJjALX/9ea13abe3a3eceef4557238f28db9f76/Gammaguard_Event.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">July 25, 2024</p>
                <h2 class="text-games">GUARD GUILD EVENT</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/3cLEsdbj1gIWN4Jaw0Yszr/c3c088df83ef3588fd4df7ae94fa3e9b/splash_mobile.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">June 29, 2024</p>
                <h2 class="text-games">Upcoming events: July 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/7uQJwsH8OpMTucft6qBB1U/ff243d140645f304116fc01df9cd0922/splash_mobile.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">June 28, 2024</p>
                <h2 class="text-games">PRIDE TALE | SPECIAL EPISODE - Chosen Bonds</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1GkmMxeYq5ZPOFdQiGOp0e/89f73d30f5c64b692ffdb97e113a869d/ARC_OF_ASCENSION.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">June 20, 2024</p>
                <h2 class="text-games">ARC OF ASCENSION</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1nJuR3xD7FrzlhB6ZGWiqW/0565a81413dee58dc942b95f57f5238c/june_splash_mobile.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 31, 2024</p>
                <h2 class="text-games">Upcoming events: June 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6ViBJzwFYlcYDM2n6XoCoS/7f101e89aa402de851f409219d0bd0d7/DC_-_High_Whitetip_Berserker_Dragon_I_News.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 24, 2024</p>
                <h2 class="text-games">HEROIC TALES | EPISODE #8 - Taming a Whitetip - Chapter 3</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/2Gbq51eFpCG16tWwlpeQrw/efbd6bb87349c947e9cfacb06f808afc/Whitetip_Berserker.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 16, 2024</p>
                <h2 class="text-games">berseker Hunt Collection</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6ViBJzwFYlcYDM2n6XoCoS/7f101e89aa402de851f409219d0bd0d7/DC_-_High_Whitetip_Berserker_Dragon_I_News.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 16, 2024</p>
                <h2 class="text-games">HEROIC TALES | EPISODE #8 - Taming a Whitetip - Chapter 2</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/455exWzP5GcfTpJkknvNXL/f65022b3e759aae79c1e1c5d490fd37d/DC_-_NEWS_MAY24.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 13, 2024</p>
                <h2 class="text-games">HEROIC TALES | EPISODE #8 - Taming a Whitetip - Chapter 1</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/54YxFUBUPp6LEUP6MvGLWS/3d17299139c348149d00ae31465bf199/Spikes.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">May 2, 2024</p>
                <h2 class="text-games">The Spikes</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6SJ74AlIUk0JFTCfzENNid/a8f878f9a3cd00c0ac3ef6309399c3d0/splash_mobile.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">April 30, 2024</p>
                <h2 class="text-games">Upcoming events: May 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/3NO0Xgg29t5jDejhP1F36K/747001379151134b58b400ddfaa60ef4/Webstore_image.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">April 4, 2024</p>
                <h2 class="text-games">Deus' Arena Showdown</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6xvqj2NcnpGIF9F53Mqhao/d05e378de8c4e96ecba4a7181720c27c/store-banner-spring-treasures-1920-1080.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">March 30, 2024</p>
                <h2 class="text-games">Upcoming events: April 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/3gvKWABVim8ILia79VT66N/6a1efebb16c410c6b75eee9cafdfbfd7/DC_-_NEWS_LEADERBOARDS.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">March 14, 2024</p>
                <h2 class="text-games">Are you the best Dragon Master? Introducing new Event Leaderboards!</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/2wcLvyppybnaUwlNTqZ0GE/9f89c607c0a4f6b0149c4336849d2353/DC_-_BP_NEWS.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">March 7, 2024</p>
                <h2 class="text-games">Quantum Voyage Event</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/5p8MUJwniJWLUodWeTCC3o/53687f33e6af51b3680c6c9dbdd45c4e/splash_mobile.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">February 29, 2024</p>
                <h2 class="text-games">Upcoming events: March 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6k3Vy2HuKxWryTAqgyOJXT/6b906f3a3c806982248ef41dbc6ef44a/February_2024.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">January 31, 2024</p>
                <h2 class="text-games">Upcoming Events: February</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6iOCdCqnJ13LMhrFmOlO6M/d42a17c9234b26942b4bdac0ca2bce9b/Mythical_Rarity.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">January 29, 2024</p>
                <h2 class="text-games">Behold the power of the new Mythical rarity!</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/3p0koKAYbyOICdc3u0x1Jp/7b23f08edcea4dfd0dc84a1ec128634c/Corrupted_Timeline.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">January 24, 2024</p>
                <h2 class="text-games">Corupted Timeline</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/5F1lFjQhNhezDySyyCAxqi/42540a5fb47ff3bbf81fada409a2588c/DC_-_PW_STORE.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">January 21, 2024</p>
                <h2 class="text-games">Philanthropi Week</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1qiO9IzUsrKELeZPrRnYrL/035e3be4c757fe49d9fc8b1ad045704f/High_Marauder.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">January 17, 2024</p>
                <h2 class="text-games">HEROIC TALES | EPISODE #7 - Terror on the High Seas</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/5zYqF6Nueh1yhi7XS65L6T/1adf1b7d7f076c71302ad2f17f8e52a1/January2024.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">December 28, 2023</p>
                <h2 class="text-games">Upcoming events: January 2024</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6mHEsXZ6yqB5das2sLehzD/189e92fc196b548e6463340a9b2e88b3/DC_-_PLASMA_WEBSTORE_IMAGE.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">December 28, 2023</p>
                <h2 class="text-games">Plasma Purge Event</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1Kg1QpEVfKOlFW22ZrRuaS/0fdc229d6a58b776b314a96288aa41df/bg_slide_1_logo.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">December 21, 2023</p>
                <h2 class="text-games">Berseker Dragons</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1N0omqgjtIUzDHutb95opE/10e4325d66bec7ce605c2023594f9160/DC_-_Rush_webstore.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">December 13, 2023</p>
                <h2 class="text-games">New Dragon City Event - Welcome to Arena Rush!<h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/5nd4mSnKSZC2JFeQVWvPST/5b74183a982c3c2336ea076735d38ca1/December2023.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">November 28, 2023</p>
                <h2 class="text-games">Upcoming events: December 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/50uHYaKSr2dFC1ratZh8nK/6eeb3381229bf7104487622a4304365d/DC_-_Speed_NEWS__1_.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">November 23, 2023</p>
                <h2 class="text-games">Speed Collection - Capture the Bolt Dragon adn his Turbo Skill Skin!</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6XGPpqhiLW9ODHbxzT8999/f47e8e3dd338be64cbb5369305b7d58d/DC_-_Speed_news_FAQ.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">November 23, 2023</p>
                <h2 class="text-games">Dragon City Update - New Speed Stat</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/46mADiakWIe4ollMY4l6gk/2539ad6d06debfdb7148cf1c184f20c3/November2023.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">October 23, 2023</p>
                <h2 class="text-games">Upcoming events: November 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/6vonfJWSfA6n7eNywSCcBS/c1bf4833213a97785638c142ab979341/WebStore_Image.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">October 23, 2023</p>
                <h2 class="text-games">Dragon City's Storytelling Challenge</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/nSPUJDqxw5g5ydQxuQf05/18e3e911cf07b542c5b765a84e7706f6/news-article__1_.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">October 19, 2023</p>
                <h2 class="text-games">Ace of Arcana Events</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/4akXbCYTujgemqXg0HWNgY/f79a3b086880f4078f7f1bed87bce975/High_Master_Karma_webstoreTitle.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">October 17, 2023</p>
                <h2 class="text-games">HEROIC TALES | EPISODE #6 - Karma's Snitch</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1XSHCONNB0mfck6JtT15cz/b2590e0ae9e89fb23748abea6c90c5dc/October2023.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">September 29, 2023</p>
                <h2 class="text-games">Upcoming events: October 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/4NS8CB3GhKFHUFmoIojWF6/31d5b483d3186b2bc1b88dfab47f7904/September2023.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 30, 2023</p>
                <h2 class="text-games">Upcoming events: September 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/56V12KKEszMytbinBLm80T/60f04a2603ff9a9a9539084e033ef818/Webstore_Title.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 14, 2023</p>
                <h2 class="text-games">MAZE SPESIAL: ELATION COLLECTION</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/7FdfpxGb5erKNlLsWjQESk/3e4c81386a27a2e63563da1c553ef144/1080x1920.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 10, 2024</p>
                <h2 class="text-games">The Eternal Day Event</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/3lvnPwkpN2CaIiya3wt61E/4082432fb6d67d48c8c10ec2b259d005/Title_Webstore.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 3, 2023</p>
                <h2 class="text-games">Plasma Dragons</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/2Ll3M3qqa10RZGIg65GzxL/450c7b696403c6f14a6cf52608e38390/Voodoo_Dragon_Title.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">August 1, 2023</p>
                <h2 class="text-games">HEROIC TALES EPISODE #5 - Voodoo's Vendetta</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1Gv2H9CMIEYIdDGo9hn1HE/6319a2c4e9a6943e86352532e4e19c53/Untitled-1.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">July 28, 2024</p>
                <h2 class="text-games">Upcoming events: August 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/4tYFAv4dlFoSI2mcjUZMSX/6cabc4f48f3f857688ca91131199e183/Perks_Update_-_WebStore_Title.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">July 24, 2023</p>
                <h2 class="text-games">A 'PERKY' UPDATE!</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/4KvQ5cYvKhtPRihex2Eems/f204bee9abab4d03049d256e86216e3c/Voodoo-s_Return.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">July 13, 2023</p>
                <h2 class="text-games">Voodoo's Return Event</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/4hhacqeDZQYUWfr5ECRpsS/018cee42df0f0d4a4446a8acefcbccf2/July2023.png?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">June 29, 2023</p>
                <h2 class="text-games">Upcoming Event: July 2023</h2>
            </div>
        </div>
        <div class="news-card">
            <img src="https://images.ctfassets.net/wn7ipiv9ue5v/5HQuev2V281WKhgL7uDEnD/ad5aaf0da7e2e66fba4d2c044767d366/Drag-On_Dragon.jpg?w=500&h=&fm=avif&q=75" alt="News Image">
            <div class="news-card-content">
                <p class="text-games">June 22, 2023</p>
                <h2 class="text-games">PRIDE TALE | SPECIAL EPISODE - Get Your Dran-On</h2>
            </div>
        </div>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>