<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home content">
    <div class="banner" data-aos="zoom-in-up">
      <div class="text-banner">
        <img src="https://images.ctfassets.net/wn7ipiv9ue5v/1MDhHWmQXaIJBYUKT6x25s/84baabd4ebb7c5e0ada8d158abb8bbfd/dc-logo-2022.png?w=859&h=&fm=avif&q=75" width=280px alt="">
        <h2>PLAY NOW FREE</h2>  
        <p class="banners">COLLECT AND BREED TONS OF ADORABLE FIRE-BREATHING DRAGONS-</p>
        <p class="banners">TRAIN THEM TO YOUR WILL,GROW YOUR COLLECTION,AND BUILD YOUR</p>
        <p class="banners">CITY!</p>
      </div>
    </div>
    <hr>
    <div class="part-index part-one" data-aos="zoom-in-up">
      <div class="left">
        <h1>BUILD A CITY, RULE THE DRAGONVERSE</h1>
        <p>Expand your Islands and transform your humble dragon village into a roaring megalopolis!</p>
        <p>Soar through Dragonverses, uncover City secrets, and watch your beasts prosper in your very own community.</p>
        <p>Disclaimer: Partake in dragon gossip at your own risk! 🤫</p>
      </div>
      <div class="right">
        <div class="image"></div>
      </div>
    </div>
    <hr>
    <div class="part-index part-two" data-aos="zoom-in-up">
      <div class="right">
        <div class="image"></div>
      </div>
      <div class="left">
        <h1>FEED, GROW, AND WIN!</h1>
        <p>Take your dragons from zero to hero by keeping them well-fed and evolving them into powerful beasts!</p>
        <p>Remember, practice makes perfect, so training your dragons up is the key to survival.</p>
        <p>You've got a whole roster of enhancements at your fingertips... Whether it's leveling up, Ranking up, Empowering, attaching Perks, learning new attacks, or obtaining expert Skill Skins, you'll be sure to give any shy dragons a much-needed confidence boost! 🚀</p>
      </div>
    </div>
    <hr>
    <div class="part-index part-three" data-aos="zoom-in-up">
      <div class="left">
        <h1>COLLECT 1000+ DRAGONS!</h1>
        <p>Got what it takes to collect 'em all?</p>
        <p>Catch tons of dragons of all shapes and sizes, master exotic element-types, and uncover new rarities as you work to become the top collector in Dragon City and complete the coveted Dragon Book!</p>
        <p>Dragon City has a dragon for everyone, so no matter who you choose to be or how you express yourself, there's a dragon friend waiting especially for you! 💯</p>
      </div>
      <div class="right">
        <div class="image"></div>
      </div>
    </div>
    <hr>
    <div class="part-index part-four" data-aos="zoom-in-up">
      <div class="right">
        <div class="image"></div>
      </div>
      <div class="left">
        <h1>STRATEGIZE & CONQUER</h1>
        <p>Put your dragons into action in the Leagues, compete for secret loot in daily Quests, or go head-to-head with other players inside the Arenas!</p>
        <p>Winning battles means huge rewards, but you'll need a game plan first... Work out your own strategy on the battlefield with unique dragon skills and locate your opponent's weak spot.* 💥</p>
        <p>*No dragons were harmed in the making of this game.</p>
      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
